#SiteHeader {

}

.header-classic{
  background-color: white;
  box-shadow: none;
  position: relative;
  z-index: 50;

  @media(max-width: 768px) {
    background-color: #424749;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 12px 0;

    .site-brand {

      .__for-mobi {
        display: none;
      }
      
      @media(max-width: 768px) {

        .__for-desktop {
          display: none;
        }

        .__for-mobi {
          display: block;
        }
      }
    }

    .site-nav {
      margin-left: auto;

      @media(max-width: 768px) {
        display: none;
      }
    }

    .site-extra {
      margin-left: 68px;
      margin-left: auto;
    }
  }
}

.header-tool {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &__item {
    list-style: none;

    &:not(:last-child) {
      margin-right: 30px;
    }

    > a {
      display: flex;
      align-items: center;
      color: var(--main-menu-color);
      font-size: var(--main-menu-size);
      font-family: var(--content-font);

      .__icon {
        margin-left: 10px; 
      }
    }

    &.__mini-cart {

      .__icon {

        .cart-mobi {
          display: none;
        }

        @media(max-width: 768px) { 
          
          .cart {
            display: none;
          }

          .cart-mobi {
            display: block;
          }
        }
      }
    }
  }

  .__mobi-toggle-button {
    display: none;
  }

  @media(max-width: 768px) {

    .header-tool__item.__help,
    .header-tool__item.__search {
      display: none;
    }

    .__mobi-toggle-button {
      display: block;
    }
  }
}